In [2]:
import pandas as pd
import numpy as np

In [3]:
df=pd.DataFrame(np.arange(0,20).reshape(5,4),index=['Row1','Row2','Row3','Row4','Row5'],columns=['Coulumn1','Coulumn2','Coulumn3','Coulumn4'])

In [4]:
df

      Coulumn1  Coulumn2  Coulumn3  Coulumn4
Row1         0         1         2         3
Row2         4         5         6         7
Row3         8         9        10        11
Row4        12        13        14        15
Row5        16        17        18        19

In [5]:
df.to_csv('Test-01')

In [6]:
df.loc[:,:]

      Coulumn1  Coulumn2  Coulumn3  Coulumn4
Row1         0         1         2         3
Row2         4         5         6         7
Row3         8         9        10        11
Row4        12        13        14        15
Row5        16        17        18        19

In [7]:
df.iloc[:,:]

      Coulumn1  Coulumn2  Coulumn3  Coulumn4
Row1         0         1         2         3
Row2         4         5         6         7
Row3         8         9        10        11
Row4        12        13        14        15
Row5        16        17        18        19

In [8]:
df.iloc[1,3]

np.int64(7)

In [9]:
df.iloc[:,:].values

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19]])

In [15]:
df.iloc[0].value_counts()

Row1
0    1
1    1
2    1
3    1
Name: count, dtype: int64

In [16]:
df.isnull().sum()

Coulumn1    0
Coulumn2    0
Coulumn3    0
Coulumn4    0
dtype: int64

In [20]:
df['Coulumn1'].unique()

array([ 0,  4,  8, 12, 16])

In [21]:
df[['Coulumn1','Coulumn2']]

      Coulumn1  Coulumn2
Row1         0         1
Row2         4         5
Row3         8         9
Row4        12        13
Row5        16        17